body,html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #115dab;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    background-color: #dadada;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#card i{
color: #fff;
font-size: 70px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(0);
opacity: 0;
transition: transform ease 0.4;
}